/* may not be able to scroll with float right */
/* https://stackoverflow.com/questions/1633971/no-horizontal-scroll-bar-on-float-right */
/* or something like this: http://jsfiddle.net/vUEYG/ */
/* fromhttps://stackoverflow.com/questions/8049141/css-show-only-horizontal-scroll-bar-for-a-fixed-width-and-height-div */

/* SEE PLAN FOR SCROLLABLE DISPLAY.TXT */

/* calculator layout ideas with css grid: https://medium.com/statuscode/celebrate-css-grid-support-by-re-creating-the-ios-calculator-5f2da806e96f */
/* how about old-school syling: http://www.vintagecalculators.com/html/sharp_compet_22.html */
body {
    background-image: url("img/wood.jpg"); /*http://www.photoshopbuzz.com/wp-content/uploads/2013/06/woodtexture5.jpg*/
    background-repeat: repeat;
}

.calc-img {
	box-shadow: 20px 20px 20px #00000080;
	position: absolute;
}

.eraser {
	transform: rotate(-10deg);
	border-radius: 10px;
	margin: 40px auto;
	box-shadow: 10px 10px 10px #00000080;
	float: right;
}

.master-container {
	display: flex;
	margin: 25px;
}

.history-paper {
	background: #fff;
	margin: 0px 50px;
	min-width: 250px;
	padding: 10px;
	box-shadow: 5px 5px 5px #00000080;
}

#expression-history {
	font-family: monospace;
}

#expression-view-scroller {
	border-color: #e5e5e5;
	border-style: inset;
	width: 250px;
	height: 50px;
	margin: 5px;
	white-space: nowrap;
	overflow-x: scroll;
	background: black;
}


#expression-view {
	float: right;
	font-family: monospace;
	font-weight: bold;
	font-size: 24px;
	height: 24px;
	margin: 5px;
	color: red;
	background: black;
}

.calc-body {
	position: relative;
	display: grid;
	grid-template-rows: 100px 300px;
	grid-template-columns: 80px 250px 150px 80px;
	grid-template-areas:
		".     display logo logo"
		"clear digits  ops  equals";

	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 5px;
}

.logo {
	grid-area: logo;
	color: #fff;
}


.result-container {
	grid-area: display;
	display: flex;
	align-items: center;
}

.calc-btn-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.clear-container {
	grid-area: clear;
}

.digits-container {
	grid-area: digits;
}

.ops-container {
	grid-area: ops;
}

.equals-container {
	grid-area: equals;
}

.input-btn {
	margin: 8px;
	flex: 1 0 33%;
	max-width: 55px;
	max-height: 55px;
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;

	color: rgb(0, 0, 0);
	background-color: rgb(240, 240, 240);

	border-radius: 5px;
	box-shadow: 2px 2px #999;
  }
  
.input-btn:hover {
	background-color: #b1b1b1
}

.input-btn:active {
	background-color: #8f8f8f;
}

.blue-btn {
	background-color: rgb(180, 180, 255);
}

.red-btn {
	background-color: rgb(255, 145, 145);
}

.wide-btn {
	flex: 2 0 66%; 
	max-width: 126px;
}

.full-height-btn {
	max-height: 280px;
}

.dummy-btn {
	margin: 8px;
	flex: 1 0 33%;
	max-width: 55px;
	max-height: 55px;
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
}

.footer {
    color: white;
    font-family: monospace;
}

.footer hr {
    color: #757575;
    height: 1px;
}